$border: 1px solid #e2e5eb;
$border-radius: 0 4px 4px 0;
@mixin user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dropdown {
  position: relative;
  min-width: 50px;
  color: #484e54;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: $border;
  border-radius: $border-radius;
  :hover {
    cursor: pointer;
  }
}

.dropdown-title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484e54;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: $border-radius;
  @include user-select-none;
}

.dropdown-items {
  position: absolute;
  top: 100%;
  width: 100%;
  border: $border;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  word-break: break-all;
  @include user-select-none;
  :hover {
    background-color: #fafafa;
  }
}
