@import "../../styles/utils";

.input {
  border: 1px solid #e2e5eb;
  border-right: none;
  color: $input-text-color;
  border-radius: 4px 0 0 4px;
  font-size: 17px;
  padding: 10px;
  outline: 0;
}
