@import "../../styles/utils";
$pink: #f0807f;

.title-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.title-header {
  padding: 10px 0;
  font-size: 17px;
  color: $pink;
  font-weight: bold;
  @include user-select-none;
}

.title-content {
  display: flex;
  font-size: 15px;
  @include user-select-none;
}

.direction {
  padding: 10px;
  border-radius: 4px;
  &:hover {
    color: white;
    background-color: $pink;
    cursor: pointer;
  }
}
